{% extends 'base/base.html' %}
{% load static %}

{% block title %}Agenda{% endblock title %}

{% block content%}

<h1>Agenda</h1>
<div class="container-fluid">
    <label for="fecha_servicio">Fecha del servicio a solicitar</label>
    <select v-on:change="obtenerObjeto" class="form-control mb-3" name="fecha_servicio" id="fecha_servicio">
        {% for articulo in disponibilidad %}
            {% for hora in articulo.horas %}
            <option value="{{ articulo.fecha }} {{hora}}">{{ articulo.fecha }} {{hora}}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <button class="btn btn-primary">Elegir fecha y hora</button>

</div>
{% endblock content %}

{% block script %}
{% endblock script%}