{% extends 'base/base.html' %}
{% load static %}

{% block title %}Agenda{% endblock title %}

{% block content%}

<h1>Agenda</h1>
<div class="container-fluid">
    <form action="" method="post">
        {% csrf_token %}
        <label for="fecha_servicio">Fecha del servicio a solicitar</label>
        <select class="form-control mb-3" name="fecha_servicio" id="fecha_servicio">
            {% for articulo in disponibilidad %}
                {% if articulo.fecha == objeto.fecha %}
                <option selected value="{{ articulo.fecha }}">{{ articulo.fecha }}</option>
                {% else %}
                <option value="{{ articulo.fecha }}">{{ articulo.fecha }}</option>
                {% endif %}
            {% endfor %}
        </select>

        {% if objeto %}
        <label for="hora_servicio">Hora del servicio a solicitar</label>
        <select class="form-control mb-3" name="hora_servicio" id="hora_servicio">
            {% for hora in objeto.horas %}
            <option value="{{ hora }}">{{ hora }}</option>
            {% endfor %}
        </select>
        <p>
            <b>Nota: </b>
            si seleccionaste mal la fecha, recarga la pagina presionando F5.
        </p>
        <button class="btn btn-primary">Crear cita</button>
        {% else %}
        <button class="btn btn-primary">Elige la fecha</button>
        {% endif %}
    </form>
</div>
{% endblock content %}

{% block script %}
{% endblock script%}