{% extends 'base/base.html' %}
{% load static %}

{% block title %}Asignacion de Servicio{% endblock title %}

{% block content %}
<h1>Asignacion de Servicio</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            Choferes
            <select class="form-control" id="choferes">
                <option value="volvo">Chofer 1</option>
                <option value="saab">Chofer 2</option>
                <option value="opel">Chofer 3</option>
                <option value="audi">Chofer 4</option>
            </select>

            Vehiculos
            <select class="form-control" id="vehiculos">
                <option value="volvo">Vehiculo 1</option>
                <option value="saab">Vehiculo 2</option>
                <option value="opel">Vehiculo 3</option>
                <option value="audi">Vehiculo 4</option>
            </select>
            <button class="btn btn-danger">Asignar ahora</button>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}