{% extends 'base/base.html' %}
{% load static %}

{% block title %}Asignacion de Servicio{% endblock title %}

{% block content %}
<h1>Asignacion de Servicio</h1>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mascota</th>
                <th scope="col">Lugar de inicio</th>
                <th scope="col">Lugar de destino</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha limite</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de fin</th>
                <th scope="col">Chofer</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td scope="row">{{ servicio.id }}</td>
                <td>{{ servicio.mascota }}</td>
                <td>{{ servicio.lugar_inicio }}</td>
                <td>{{ servicio.lugar_destino }}</td>
                <td>{{ servicio.fecha_inicio }}</td>
                <td>{{ servicio.fecha_limite }}</td>
                <td>{{ servicio.horario_inicio }}</td>
                <td>{{ servicio.horario_fin }}</td>
                <td>
                    <select class="form-control" name="chofer">
                    {% for servicio in servicios %}
                        <option value="{{servicio.chofer}}">{{servicio.chofer}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-control" name="vehiculo">
                    {% for servicio in servicios %}
                        <option value="{{servicio.vehiculo}}">{{servicio.vehiculo}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <form action="" method="post">
                    {% csrf_token %}
                        <button class="btn btn-success" name="servicio" value="{{servicio.id}}">Ejecutar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}