{% extends 'base/base.html' %}
{% load static %}

{% block title %}Firma{% endblock title %}

{% block content %}
<style>
    #paint {border: 1px solid black; background : #ffffff; border-radius: 5px}
</style>

<h1>Firma</h1>
<div class="container-fluid">
    <p>El chofer fue {{chofer}}.</p>
    <p>El vehiculo usado fue un {{vehiculo}}.</p>
    {% if firmado %}
    <h2>Servicio Firmado!</h2>
    {% else %}
    <div id="sketch">
        <canvas id="paint"></canvas>
    </div>
    <form action="" method="post">
    {% csrf_token %}
        <div style="float: left;" id="settings">
            <button class="btn btn-primary" onclick="getColor('black'); ctx.lineWidth = 1.0;">Pluma</button>
            <button class="btn btn-info" onclick="ctx.clearRect(0, 0, canvas.width, canvas.height);">Limpiar pantalla</button>
            <button class="btn btn-success" name="firma" value="firma">Firmar liberacion del servicio</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock content %}

{% block js %}
<script>
var canvas = document.getElementById('paint');
var ctx = canvas.getContext('2d');
 
var sketch = document.getElementById('sketch');
var sketch_style = getComputedStyle(sketch);
canvas.width = 500;
canvas.height = 250;

var mouse = {x: 0, y: 0};
 
/* Mouse Capturing Work */
canvas.addEventListener('mousemove', function(e) {
  mouse.x = e.pageX - this.offsetLeft;
  mouse.y = e.pageY - this.offsetTop;
}, false);

/* Drawing on Paint App */
ctx.lineJoin = 'round';
ctx.lineCap = 'round';

ctx.strokeStyle = "black";
function getColor(colour){ctx.strokeStyle = colour;}

function getSize(size){ctx.lineWidth = size;}
 
canvas.addEventListener('mousedown', function(e) {
    ctx.beginPath();
    ctx.moveTo(mouse.x, mouse.y);
 
    canvas.addEventListener('mousemove', onPaint, false);
}, false);
 
canvas.addEventListener('mouseup', function() {
    canvas.removeEventListener('mousemove', onPaint, false);
}, false);
 
var onPaint = function() {
    ctx.lineTo(mouse.x, mouse.y);
    ctx.stroke();
};
</script>
{% endblock js %}