{% extends 'base/base.html' %}
{% load static %}

{% block title %}Firma{% endblock title %}

{% block content %}
<style>
    #paint {border: 1px solid black; background : #ffffff;}
</style>

<h1>Firma</h1>
<p>El chofer fue: Chofer 1.</p>
<p>El vehiculo usado para el transporte fue: Vehiculo 1.</p>
<div class="container-fluid">
    <div id="sketch">
        <canvas id="paint"></canvas>
    </div>

    <div id="settings">
        <button onclick="getColor('black');">Pluma</button>
        <button onclick="getColor('#ffffff');">Borrador</button>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
var canvas = document.getElementById('paint');
var ctx = canvas.getContext('2d');
 
var sketch = document.getElementById('sketch');
var sketch_style = getComputedStyle(sketch);
canvas.width = 500;
canvas.height = 250;

var mouse = {x: 0, y: 0};
 
/* Mouse Capturing Work */
canvas.addEventListener('mousemove', function(e) {
  mouse.x = e.pageX - this.offsetLeft;
  mouse.y = e.pageY - this.offsetTop;
}, false);

/* Drawing on Paint App */
ctx.lineJoin = 'round';
ctx.lineCap = 'round';

ctx.strokeStyle = "black";
function getColor(colour){ctx.strokeStyle = colour;}

function getSize(size){ctx.lineWidth = size;}


//ctx.strokeStyle = 
//ctx.strokeStyle = document.settings.colour[1].value;
 
canvas.addEventListener('mousedown', function(e) {
    ctx.beginPath();
    ctx.moveTo(mouse.x, mouse.y);
 
    canvas.addEventListener('mousemove', onPaint, false);
}, false);
 
canvas.addEventListener('mouseup', function() {
    canvas.removeEventListener('mousemove', onPaint, false);
}, false);
 
var onPaint = function() {
    ctx.lineTo(mouse.x, mouse.y);
    ctx.stroke();
};
</script>
{% endblock js %}