{% extends 'base/base.html' %}
{% load static %}

{% block title %}Agenda Servicio{% endblock title %}

{% block content %}
<h1>Agenda Servicio</h1>
<div class="container-fluid">
	<form action="#">
		{% csrf_token %}
		<h3>Notificacion</h3>
		<p>Su solicitud ha sido procesada y su horario esta desocupado.
		Desea agendar el servicio?</p>
		<button class="btn btn-success">Aceptar</button>
		<button class="btn btn-danger">Cancelar</button>
	</form>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}