{% extends 'base/base.html' %}
{% load static %}

{% block title %}Pago{% endblock title %}

{% block content %}
<h1>Pago</h1>
<div class="container-fluid">
    <form action="" method="post">
		{% csrf_token %}
        <div>
            Visa
            <input name="metodo" type="radio" checked>
            Master Card
            <input name="metodo" type="radio">
            American Express
            <input name="metodo" type="radio">
        </div>
		<hr>
        <div class="row">
            <div class="col">

				<h5>Nombre del titular</h5>
				<input name="nombre-titular" type="text" class="form-control mb-3" placeholder="Nombre del titular">

				<h5>Numero de tarjeta</h5>
				<input name="numero-tarjeta" type="text" class="form-control mb-3" placeholder="Numero de tarjeta">

				<h5>Fecha de expiracion</h5>
				<input name="fecha-expiracion" type="date" class="form-control mb-3">

				<h5>Codigo de seguridad</h5>
				<div class="row">
					<div class="col-4">
						<input name="codigo-seguridad" type="number" class="form-control mb-3" placeholder="3 digitos">
					</div>
				</div>
            </div>
            <div class="col">
            </div>
        </div>

        <button class="btn btn-danger">Enviar datos de transaccion</button>
    </form>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}