{% extends 'base/base.html' %}
{% load static %}

{% block title %}Solicitud Transporte{% endblock title %}

{% block content %}
<h1>Solicitud Transporte</h1>
<div class="container-fluid">
    <form action="" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col">
                <h3>Informacion del cliente</h3>
                <label for="nombre_titular">Nombre del titular</label>
                <input class="form-control mb-3" type="text" name="nombre_titular" id="nombre_titular">

                <label for="correo">Correo electronico</label>
                <input class="form-control mb-3" type="email" name="correo" id="correo">

                <h3>Informacion del servicio</h3>
                <label for="mascota">Nombre de la mascota</label>
                <input class="form-control mb-3" type="text" name="mascota" id="mascota">

                <label for="lugar_inicio">Lugar de inicio</label>
                <input class="form-control mb-3" type="text" name="lugar_inicio" id="lugar_inicio">

                <label for="lugar_destino">Lugar de destino</label>
                <input class="form-control mb-3" type="text" name="lugar_destino" id="lugar_destino">

                <button class="btn btn-danger mb-3">Enviar formulario</button>
            </div>
            <div class="col-2">
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}